<main style="background-color: #ff5722;">
  <div class="container-fluid" fxLayout="row wrap">
    <div *ngFor="let poke of pokedex; let i = index" fxFlex="20%" fxFlex.sm="25%" fxFlex.xs="25%">
      <div style="background-color: #f5f5f5; padding: 10px; margin: 5px; border-radius: 6px;">
        <div style="border-bottom-color: #000000; border-bottom: solid; border-bottom-width: 1px;">
          <h3>{{poke.name}}</h3>
          <h5>No.{{poke.id}}</h5>
        </div>
        <p>
          <img [src]="poke.imageUrl"  style="width: 100%; object-fit:cover;">
        </p>
      </div>
    </div>
  </div>
</main>
