/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face{
    font-family: 'pokemon-font';
    src:url('./assets/font/pokemon-font.ttf');
}

body {
    font-size: 10px;
    -webkit-font-smoothing: none;
    font-family: 'pokemon-font', monospace;
}
h1 {
    font-size: 40px;
}
